In [1]:
import numpy as np
import datetime as dt
import pandas as pd

In [2]:
ratio2018_1 = pd.read_excel('2018_Pay_Ratio.xlsx', parse_dates=['FilingDate'])
ratio2018_1.head()

   No      CIK Ticker         Company Name FilingDate  PayRatio  FiscalYear
0   2   789019   MSFT       MICROSOFT CORP 2018-10-16       154        2018
1   9    19617    JPM  JPMORGAN CHASE & CO 2018-04-05       364        2017
2  10   200406    JNJ    JOHNSON & JOHNSON 2018-03-14       452        2017
3  11  1403161      V            VISA INC. 2018-12-06       147        2018
4  12    80424     PG  PROCTER & GAMBLE CO 2018-08-24       287        2018

In [3]:
ratio2018_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80 entries, 0 to 79
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   No            80 non-null     int64
 1   CIK           80 non-null     int64
 2   Ticker        80 non-null     object
 3   Company Name  80 non-null     object
 4   FilingDate    80 non-null     datetime64[ns]
 5   PayRatio      80 non-null     int64
 6   FiscalYear    80 non-null     int64
dtypes: datetime64[ns](1), int64(4), object(2)
memory usage: 4.5+ KB

In [4]:
bmc_1=pd.read_csv('bmc.csv', parse_dates=['datadate'])
bmc_1.head()

,gvkey,datadate,FiscalYear,indfmt,consol,popsrc,datafmt,Ticker,conm,curcd,fyr,Book Value Per Share,costat,MktCap,Price Close - Annual - Fiscal,BookToMarket
0,1078,2017-12-31,2017,INDL,C,D,STD,ABT,ABBOTT LABORATORIES,USD,12,17.7202,A,99507.0,57.07,0.31
1,1078,2018-12-31,2018,INDL,C,D,STD,ABT,ABBOTT LABORATORIES,USD,12,17.3865,A,126984.0,72.33,0.24
2,1078,2019-12-31,2019,INDL,C,D,STD,ABT,ABBOTT LABORATORIES,USD,12,17.6386,A,153091.0,86.86,0.2
3,1078,2020-12-31,2020,INDL,C,D,STD,ABT,ABBOTT LABORATORIES,USD,12,18.5092,A,193932.0,109.49,0.17
4,1078,2021-12-31,2021,INDL,C,D,STD,ABT,ABBOTT LABORATORIES,USD,12,20.2950,A,248277.0,140.74,0.14

In [5]:
m1=pd.merge(ratio2018_1, bmc_1, how='left', on=['Ticker', 'FiscalYear'])
m1.head(10)

,No,CIK,Ticker,Company Name,FilingDate,PayRatio,FiscalYear,gvkey,datadate,indfmt,...,popsrc,datafmt,conm,curcd,fyr,Book Value Per Share,costat,MktCap,Price Close - Annual - Fiscal,BookToMarket
0,2,789019,MSFT,MICROSOFT CORP,2018-10-16,154,2018,12141,2018-06-30,INDL,...,D,STD,MICROSOFT CORP,USD,6,10.7748,A,757029.0,98.61,0.11
1,9,19617,JPM,JPMORGAN CHASE & CO,2018-04-05,364,2017,2968,2017-12-31,INDL,...,D,STD,JPMORGAN CHASE & CO,USD,12,67.0379,A,366302.0,106.94,0.63
2,10,200406,JNJ,JOHNSON & JOHNSON,2018-03-14,452,2017,6266,2017-12-31,INDL,...,D,STD,JOHNSON & JOHNSON,USD,12,22.4266,A,374802.0,139.72,0.16
3,11,1403161,V,VISA INC.,2018-12-06,147,2018,179534,2018-09-30,INDL,...,D,STD,VISA INC,USD,9,12.8831,A,333175.0,150.09,0.09
4,12,80424,PG,PROCTER & GAMBLE CO,2018-08-24,287,2018,8762,2018-06-30,INDL,...,D,STD,PROCTER & GAMBLE CO,USD,6,21.0280,A,195001.0,78.06,0.27
5,13,50863,INTC,INTEL CORP,2018-04-05,211,2017,6008,2017-12-31,INDL,...,D,STD,INTEL CORP,USD,12,14.7256,A,216352.0,46.16,0.32
6,14,1141391,MA,MASTERCARD INC,2018-04-27,155,2017,160225,2017-12-31,INDL,...,D,STD,MASTERCARD INC,USD,12,5.1879,A,159533.0,151.36,0.03
7,15,732717,T,AT&T INC.,2018-03-12,366,2017,9899,2017-12-31,INDL,...,D,STD,AT&T INC,USD,12,22.9437,A,238701.0,38.88,0.59
8,17,70858,BAC,BANK OF AMERICA CORP,2018-03-12,250,2017,7647,2017-12-31,INDL,...,D,STD,BANK OF AMERICA CORP,USD,12,23.7986,A,303681.0,29.52,0.81
9,18,731766,UNH,UNITEDHEALTH GROUP INC,2018-04-20,298,2017,10903,2017-12-31,INDL,...,D,STD,UNITEDHEALTH GROUP INC,USD,12,49.3044,A,NaN,220.46,0.22

In [6]:
m1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 80 entries, 0 to 79
Data columns (total 21 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   No                             80 non-null     int64
 1   CIK                            80 non-null     int64
 2   Ticker                         80 non-null     object
 3   Company Name                   80 non-null     object
 4   FilingDate                     80 non-null     datetime64[ns]
 5   PayRatio                       80 non-null     int64
 6   FiscalYear                     80 non-null     int64
 7   gvkey                          80 non-null     int64
 8   datadate                       80 non-null     datetime64[ns]
 9   indfmt                         80 non-null     object
 10  consol                         80 non-null     object
 11  popsrc                         80 non-null     object
 12  datafmt                        80 non-null     object
 13  conm                           80 non-null     object
 14  curcd                          80 non-null     object
 15  fyr                            80 non-null     int64
 16  Book Value Per Share           80 non-null     float64
 17  costat                         80 non-null     object
 18  MktCap                         74 non-null     float64
 19  Price Close - Annual - Fiscal  80 non-null     float64
 20  BookToMarket                   80 non-null     object
dtypes: datetime64[ns](2), float64(3), int64(6), object(10)
memory usage: 13.8+ KB

In [7]:
car_1=pd.read_csv('car.csv', parse_dates=['date'])
car_1.head()

   PERMNO       date Ticker  RETX   vwretx   AbnormalReturn
0   10104 2018-01-02   ORCL -0.014    0.009          -0.023
1   10104 2018-01-03   ORCL  0.023    0.006           0.017
2   10104 2018-01-04   ORCL  0.010    0.004           0.006
3   10104 2018-01-05   ORCL  0.006    0.006           0.000
4   10104 2018-01-08   ORCL  0.011    0.002           0.009

In [8]:
car_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 107154 entries, 0 to 107153
Data columns (total 6 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   PERMNO          107154 non-null  int64
 1   date            107154 non-null  datetime64[ns]
 2   Ticker          107154 non-null  object
 3   RETX            107153 non-null  float64
 4   vwretx          107154 non-null  float64
 5   AbnormalReturn  107154 non-null  float64
dtypes: datetime64[ns](1), float64(3), int64(1), object(1)
memory usage: 4.9+ MB

In [9]:
from datetime import timedelta
m1['begdate']=m1['FilingDate']-timedelta(days=1)
m1['enddate']=m1['FilingDate']+timedelta(days=5)
m1.head()

,No,CIK,Ticker,Company Name,FilingDate,PayRatio,FiscalYear,gvkey,datadate,indfmt,...,conm,curcd,fyr,Book Value Per Share,costat,MktCap,Price Close - Annual - Fiscal,BookToMarket,begdate,enddate
0,2,789019,MSFT,MICROSOFT CORP,2018-10-16,154,2018,12141,2018-06-30,INDL,...,MICROSOFT CORP,USD,6,10.7748,A,757029.0,98.61,0.11,2018-10-15,2018-10-21
1,9,19617,JPM,JPMORGAN CHASE & CO,2018-04-05,364,2017,2968,2017-12-31,INDL,...,JPMORGAN CHASE & CO,USD,12,67.0379,A,366302.0,106.94,0.63,2018-04-04,2018-04-10
2,10,200406,JNJ,JOHNSON & JOHNSON,2018-03-14,452,2017,6266,2017-12-31,INDL,...,JOHNSON & JOHNSON,USD,12,22.4266,A,374802.0,139.72,0.16,2018-03-13,2018-03-19
3,11,1403161,V,VISA INC.,2018-12-06,147,2018,179534,2018-09-30,INDL,...,VISA INC,USD,9,12.8831,A,333175.0,150.09,0.09,2018-12-05,2018-12-11
4,12,80424,PG,PROCTER & GAMBLE CO,2018-08-24,287,2018,8762,2018-06-30,INDL,...,PROCTER & GAMBLE CO,USD,6,21.0280,A,195001.0,78.06,0.27,2018-08-23,2018-08-29

In [10]:
m1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 80 entries, 0 to 79
Data columns (total 23 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   No                             80 non-null     int64
 1   CIK                            80 non-null     int64
 2   Ticker                         80 non-null     object
 3   Company Name                   80 non-null     object
 4   FilingDate                     80 non-null     datetime64[ns]
 5   PayRatio                       80 non-null     int64
 6   FiscalYear                     80 non-null     int64
 7   gvkey                          80 non-null     int64
 8   datadate                       80 non-null     datetime64[ns]
 9   indfmt                         80 non-null     object
 10  consol                         80 non-null     object
 11  popsrc                         80 non-null     object
 12  datafmt                        80 non-null     object
 13  conm                           80 non-null     object
 14  curcd                          80 non-null     object
 15  fyr                            80 non-null     int64
 16  Book Value Per Share           80 non-null     float64
 17  costat                         80 non-null     object
 18  MktCap                         74 non-null     float64
 19  Price Close - Annual - Fiscal  80 non-null     float64
 20  BookToMarket                   80 non-null     object
 21  begdate                        80 non-null     datetime64[ns]
 22  enddate                        80 non-null     datetime64[ns]
dtypes: datetime64[ns](4), float64(3), int64(6), object(10)
memory usage: 15.0+ KB

In [11]:
import sqlite3
sqlconn = sqlite3.connect(':memory:')
m1.to_sql('m1',sqlconn)
car_1.to_sql('car_1', sqlconn)

qry = '''
     SELECT
    a.Ticker, a.FilingDate, a.PayRatio, a.MktCap, a.BookToMarket, a.begdate, a.enddate, b.date, b.AbnormalReturn
    FROM m1 as a 
    LEFT JOIN car_1 as b
    ON a.Ticker = b.Ticker
    AND a.begdate <= b.date 
    AND b.date <= a.enddate
    ORDER BY No
    '''

In [12]:
m2 = pd.read_sql_query(qry, sqlconn)

In [13]:
m2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 379 entries, 0 to 378
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Ticker          379 non-null    object
 1   FilingDate      379 non-null    object
 2   PayRatio        379 non-null    int64
 3   MktCap          350 non-null    float64
 4   BookToMarket    379 non-null    object
 5   begdate         379 non-null    object
 6   enddate         379 non-null    object
 7   date            377 non-null    object
 8   AbnormalReturn  377 non-null    float64
dtypes: float64(2), int64(1), object(6)
memory usage: 26.8+ KB

In [14]:
m2.head()

,Ticker,FilingDate,PayRatio,MktCap,BookToMarket,begdate,enddate,date,AbnormalReturn
0,MSFT,2018-10-16 00:00:00,154,757029.0,0.11,2018-10-15 00:00:00,2018-10-21 00:00:00,2018-10-15 00:00:00,-0.014
1,MSFT,2018-10-16 00:00:00,154,757029.0,0.11,2018-10-15 00:00:00,2018-10-21 00:00:00,2018-10-16 00:00:00,0.011
2,MSFT,2018-10-16 00:00:00,154,757029.0,0.11,2018-10-15 00:00:00,2018-10-21 00:00:00,2018-10-17 00:00:00,-0.002
3,MSFT,2018-10-16 00:00:00,154,757029.0,0.11,2018-10-15 00:00:00,2018-10-21 00:00:00,2018-10-18 00:00:00,-0.005
4,MSFT,2018-10-16 00:00:00,154,757029.0,0.11,2018-10-15 00:00:00,2018-10-21 00:00:00,2018-10-19 00:00:00,0.004

In [15]:
m2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 379 entries, 0 to 378
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Ticker          379 non-null    object
 1   FilingDate      379 non-null    object
 2   PayRatio        379 non-null    int64
 3   MktCap          350 non-null    float64
 4   BookToMarket    379 non-null    object
 5   begdate         379 non-null    object
 6   enddate         379 non-null    object
 7   date            377 non-null    object
 8   AbnormalReturn  377 non-null    float64
dtypes: float64(2), int64(1), object(6)
memory usage: 26.8+ KB

In [16]:
m2=m2.dropna()
m2.shape

(348, 9)

In [17]:
m2.head(20)

,Ticker,FilingDate,PayRatio,MktCap,BookToMarket,begdate,enddate,date,AbnormalReturn
0,MSFT,2018-10-16 00:00:00,154,757029.0,0.11,2018-10-15 00:00:00,2018-10-21 00:00:00,2018-10-15 00:00:00,-0.014
1,MSFT,2018-10-16 00:00:00,154,757029.0,0.11,2018-10-15 00:00:00,2018-10-21 00:00:00,2018-10-16 00:00:00,0.011
2,MSFT,2018-10-16 00:00:00,154,757029.0,0.11,2018-10-15 00:00:00,2018-10-21 00:00:00,2018-10-17 00:00:00,-0.002
3,MSFT,2018-10-16 00:00:00,154,757029.0,0.11,2018-10-15 00:00:00,2018-10-21 00:00:00,2018-10-18 00:00:00,-0.005
4,MSFT,2018-10-16 00:00:00,154,757029.0,0.11,2018-10-15 00:00:00,2018-10-21 00:00:00,2018-10-19 00:00:00,0.004
5,JPM,2018-04-05 00:00:00,364,366302.0,0.63,2018-04-04 00:00:00,2018-04-10 00:00:00,2018-04-04 00:00:00,0.005
6,JPM,2018-04-05 00:00:00,364,366302.0,0.63,2018-04-04 00:00:00,2018-04-10 00:00:00,2018-04-05 00:00:00,0.001
7,JPM,2018-04-05 00:00:00,364,366302.0,0.63,2018-04-04 00:00:00,2018-04-10 00:00:00,2018-04-06 00:00:00,-0.005
8,JPM,2018-04-05 00:00:00,364,366302.0,0.63,2018-04-04 00:00:00,2018-04-10 00:00:00,2018-04-09 00:00:00,0.009
9,JPM,2018-04-05 00:00:00,364,366302.0,0.63,2018-04-04 00:00:00,2018-04-10 00:00:00,2018-04-10 00:00:00,0.003
10,JNJ,2018-03-14 00:00:00,452,374802.0,0.16,2018-03-13 00:00:00,2018-03-19 00:00:00,2018-03-13 00:00:00,0.019
11,JNJ,2018-03-14 00:00:00,452,374802.0,0.16,2018-03-13 00:00:00,2018-03-19 00:00:00,2018-03-14 00:00:00,-0.010
12,JNJ,2018-03-14 00:00:00,452,374802.0,0.16,2018-03-13 00:00:00,2018-03-19 00:00:00,2018-03-15 00:00:00,0.008
13,JNJ,2018-03-14 00:00:00,452,374802.0,0.16,2018-03-13 00:00:00,2018-03-19 00:00:00,2018-03-16 00:00:00,0.003
14,JNJ,2018-03-14 00:00:00,452,374802.0,0.16,2018-03-13 00:00:00,2018-03-19 00:00:00,2018-03-19 00:00:00,-0.013
15,V,2018-12-06 00:00:00,147,333175.0,0.09,2018-12-05 00:00:00,2018-12-11 00:00:00,2018-12-06 00:00:00,0.019
16,V,2018-12-06 00:00:00,147,333175.0,0.09,2018-12-05 00:00:00,2018-12-11 00:00:00,2018-12-07 00:00:00,-0.007
17,V,2018-12-06 00:00:00,147,333175.0,0.09,2018-12-05 00:00:00,2018-12-11 00:00:00,2018-12-10 00:00:00,0.006
18,V,2018-12-06 00:00:00,147,333175.0,0.09,2018-12-05 00:00:00,2018-12-11 00:00:00,2018-12-11 00:00:00,-0.007
19,PG,2018-08-24 00:00:00,287,195001.0,0.27,2018-08-23 00:00:00,2018-08-29 00:00:00,2018-08-23 00:00:00,0.001

In [18]:
m2.describe()

          PayRatio         MktCap  AbnormalReturn
count   348.000000     348.000000       348.00000
mean    334.813218  143591.867816         0.00071
std     388.661128  109873.448831         0.01288
min     108.000000   37965.000000        -0.10400
25%     166.000000   73565.000000        -0.00600
50%     250.000000  104721.000000         0.00100
75%     364.000000  186013.000000         0.00800
max    3101.000000  757029.000000         0.05000

In [19]:
m3=m2.copy()

In [20]:
import sqlite3
sqlconn = sqlite3.connect(':memory:')
m3.to_sql('m3',sqlconn)


qry = '''
     SELECT
    Ticker, FilingDate, PayRatio, MktCap, BookToMarket, begdate, enddate, date, sum(AbnormalReturn) AbnormalReturn
    FROM m3
    
 
    GROUP BY Ticker
    '''

In [21]:
m3 = pd.read_sql_query(qry, sqlconn)

In [22]:
m3['lnPayRatio'] = np.log(m3['PayRatio'])
m3['lnMktCap'] = np.log(m3['MktCap'])

In [23]:
m3.head()

,Ticker,FilingDate,PayRatio,MktCap,BookToMarket,begdate,enddate,date,AbnormalReturn,lnPayRatio,lnMktCap
0,ABBV,2018-03-19 00:00:00,144,153975.0,0.03,2018-03-18 00:00:00,2018-03-24 00:00:00,2018-03-19 00:00:00,-0.091,4.969813,11.944546
1,ABT,2018-03-16 00:00:00,251,99507.0,0.31,2018-03-15 00:00:00,2018-03-21 00:00:00,2018-03-15 00:00:00,0.004,5.525453,11.507983
2,ACN,2018-12-07 00:00:00,1222,108042.0,0.1,2018-12-06 00:00:00,2018-12-12 00:00:00,2018-12-06 00:00:00,-0.015,7.108244,11.590275
3,AIG,2018-03-27 00:00:00,259,53565.0,1.22,2018-03-26 00:00:00,2018-04-01 00:00:00,2018-03-26 00:00:00,0.002,5.556828,10.888651
4,AMGN,2018-04-11 00:00:00,127,125591.0,0.2,2018-04-10 00:00:00,2018-04-16 00:00:00,2018-04-10 00:00:00,-0.013,4.844187,11.740786

In [24]:
import statsmodels.formula.api as sm

In [25]:
#specify the model
model1 = sm.ols(formula='AbnormalReturn~lnPayRatio', data=m3)
#run the model and save results as 'res1'
res1 = model1.fit()
#print the results from the model
res1.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:         AbnormalReturn   R-squared:                       0.000
Model:                            OLS   Adj. R-squared:                 -0.014
Method:                 Least Squares   F-statistic:                 0.0006328
Date:                Mon, 14 Nov 2022   Prob (F-statistic):              0.980
Time:                        22:05:36   Log-Likelihood:                 152.78
No. Observations:                  72   AIC:                            -301.6
Df Residuals:                      70   BIC:                            -297.0
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept      0.0026      0.033      0.079      0.937      -0.063       0.069
lnPayRatio     0.0001      0.006      0.025      0.980      -0.012       0.012
==============================================================================
Omnibus:                        3.900   Durbin-Watson:                   1.951
Prob(Omnibus):                  0.142   Jarque-Bera (JB):                3.973
Skew:                          -0.177   Prob(JB):                        0.137
Kurtosis:                       4.095   Cond. No.                         55.1
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [26]:
#specify the mod
mode2 = sm.ols(formula='AbnormalReturn~lnPayRatio + lnMktCap + BookToMarket', data=m3)
#run the model
res2 = mode2.fit()
#print out the results
res2.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:         AbnormalReturn   R-squared:                       0.654
Model:                            OLS   Adj. R-squared:                 -0.294
Method:                 Least Squares   F-statistic:                    0.6896
Date:                Mon, 14 Nov 2022   Prob (F-statistic):              0.855
Time:                        22:05:36   Log-Likelihood:                 190.95
No. Observations:                  72   AIC:                            -275.9
Df Residuals:                      19   BIC:                            -155.2
Df Model:                          52
Covariance Type:            nonrobust
=========================================================================================
                            coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------------
Intercept                 0.0519      0.206      0.252      0.804      -0.379       0.483
BookToMarket[T.-0.02]    -0.0779      0.063     -1.245      0.228      -0.209       0.053
BookToMarket[T.-0.07]     0.0055      0.049      0.113      0.911      -0.096       0.107
BookToMarket[T.0]         0.0147      0.042      0.355      0.727      -0.072       0.102
BookToMarket[T.0.01]     -0.0325      0.043     -0.757      0.459      -0.122       0.057
BookToMarket[T.0.03]     -0.0238      0.042     -0.570      0.576      -0.111       0.064
BookToMarket[T.0.06]     -0.0597      0.051     -1.161      0.260      -0.167       0.048
BookToMarket[T.0.07]     -0.0512      0.042     -1.206      0.243      -0.140       0.038
BookToMarket[T.0.08]     -0.0579      0.048     -1.201      0.245      -0.159       0.043
BookToMarket[T.0.09]     -0.0094      0.044     -0.213      0.834      -0.102       0.083
BookToMarket[T.0.1]      -0.0383      0.040     -0.958      0.350      -0.122       0.045
BookToMarket[T.0.11]     -0.0069      0.046     -0.151      0.882      -0.103       0.089
BookToMarket[T.0.12]     -0.0257      0.041     -0.625      0.539      -0.112       0.060
BookToMarket[T.0.13]     -0.0121      0.037     -0.324      0.750      -0.090       0.066
BookToMarket[T.0.15]     -0.0672      0.041     -1.638      0.118      -0.153       0.019
BookToMarket[T.0.16]     -0.0168      0.054     -0.312      0.759      -0.130       0.096
BookToMarket[T.0.18]     -0.0266      0.047     -0.562      0.581      -0.126       0.072
BookToMarket[T.0.19]     -0.0283      0.042     -0.670      0.511      -0.117       0.060
BookToMarket[T.0.2]      -0.0179      0.042     -0.425      0.675      -0.106       0.070
BookToMarket[T.0.22]     -0.0133      0.049     -0.274      0.787      -0.115       0.089
BookToMarket[T.0.23]      0.0314      0.048      0.658      0.518      -0.069       0.131
BookToMarket[T.0.24]      0.0078      0.047      0.165      0.871      -0.091       0.106
BookToMarket[T.0.26]     -0.0187      0.057     -0.328      0.747      -0.138       0.101
BookToMarket[T.0.27]     -0.0373      0.049     -0.761      0.456      -0.140       0.065
BookToMarket[T.0.29]     -0.0857      0.050     -1.709      0.104      -0.191       0.019
BookToMarket[T.0.31]     -0.0233      0.047     -0.494      0.627      -0.122       0.075
BookToMarket[T.0.32]     -0.0022      0.049     -0.045      0.965      -0.105       0.101
BookToMarket[T.0.33]     -0.0129      0.042     -0.308      0.762      -0.100       0.075
BookToMarket[T.0.37]      0.0249      0.050      0.496      0.625      -0.080       0.130
BookToMarket[T.0.38]      0.0156      0.047      0.331      0.744      -0.083       0.114
BookToMarket[T.0.4]      -0.0262      0.042     -0.632      0.535      -0.113       0.061
BookToMarket[T.0.41]     -0.0264      0.042     -0.634      0.533      -0.114       0.061
BookToMarket[T.0.42]     -0.0387      0.041     -0.939      0.359      -0.125       0.048
BookToMarket[T.0.44]     -0.0231      0.050     -0.465      0.647      -0.127       0.081
BookToMarket[T.0.47]     -0.0109      0.048     -0.230      0.821      -0.110       0.089
BookToMarket[T.0.49]     -0.0463      0.041     -1.137      0.270      -0.131       0.039
BookToMarket[T.0.5]      -0.0318      0.049     -0.654      0.521      -0.134       0.070
BookToMarket[T.0.51]      0.0397      0.048      0.832      0.416      -0.060       0.140
BookToMarket[T.0.53]     -0.0068      0.053     -0.128      0.899      -0.117       0.104
BookToMarket[T.0.59]     -0.0159      0.051     -0.314      0.757      -0.122       0.090
BookToMarket[T.0.61]     -0.0843      0.048     -1.754      0.095      -0.185       0.016
BookToMarket[T.0.62]      0.0108      0.050      0.218      0.830      -0.093       0.115
BookToMarket[T.0.63]     -0.0081      0.053     -0.152      0.881      -0.119       0.103
BookToMarket[T.0.69]     -0.0813      0.049     -1.670      0.111      -0.183       0.021
BookToMarket[T.0.7]      -0.0061      0.048     -0.126      0.901      -0.108       0.095
BookToMarket[T.0.71]     -0.0047      0.041     -0.116      0.909      -0.090       0.081
BookToMarket[T.0.73]     -0.0422      0.047     -0.898      0.380      -0.140       0.056
BookToMarket[T.0.79]     -0.0114      0.049     -0.231      0.820      -0.115       0.092
BookToMarket[T.0.81]     -0.0236      0.051     -0.461      0.650      -0.131       0.084
BookToMarket[T.0.95]     -0.0369      0.050     -0.745      0.465      -0.141       0.067
BookToMarket[T.1.22]     -0.0311      0.048     -0.648      0.524      -0.132       0.069
lnPayRatio                0.0137      0.015      0.942      0.358      -0.017       0.044
lnMktCap                 -0.0087      0.017     -0.525      0.606      -0.043       0.026
==============================================================================
Omnibus:                       29.304   Durbin-Watson:                   1.765
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              520.122
Skew:                          -0.039   Prob(JB):                    1.14e-113
Kurtosis:                      16.167   Cond. No.                         806.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [27]:
from statsmodels.iolib.summary2 import summary_col
output = summary_col([res1, res2], stars=True)
output

<class 'statsmodels.iolib.summary2.Summary'>
"""

========================================================
                      AbnormalReturn I AbnormalReturn II
--------------------------------------------------------
BookToMarket[T.-0.02]                  -0.0779
                                       (0.0626)
BookToMarket[T.-0.07]                  0.0055
                                       (0.0486)
BookToMarket[T.0.01]                   -0.0325
                                       (0.0429)
BookToMarket[T.0.03]                   -0.0238
                                       (0.0418)
BookToMarket[T.0.06]                   -0.0597
                                       (0.0514)
BookToMarket[T.0.07]                   -0.0512
                                       (0.0424)
BookToMarket[T.0.08]                   -0.0579
                                       (0.0482)
BookToMarket[T.0.09]                   -0.0094
                                       (0.0441)
BookToMarket[T.0.11]                   -0.0069
                                       (0.0460)
BookToMarket[T.0.12]                   -0.0257
                                       (0.0411)
BookToMarket[T.0.13]                   -0.0121
                                       (0.0374)
BookToMarket[T.0.15]                   -0.0672
                                       (0.0411)
BookToMarket[T.0.16]                   -0.0168
                                       (0.0540)
BookToMarket[T.0.18]                   -0.0266
                                       (0.0473)
BookToMarket[T.0.19]                   -0.0283
                                       (0.0422)
BookToMarket[T.0.1]                    -0.0383
                                       (0.0400)
BookToMarket[T.0.22]                   -0.0133
                                       (0.0487)
BookToMarket[T.0.23]                   0.0314
                                       (0.0478)
BookToMarket[T.0.24]                   0.0078
                                       (0.0471)
BookToMarket[T.0.26]                   -0.0187
                                       (0.0571)
BookToMarket[T.0.27]                   -0.0373
                                       (0.0490)
BookToMarket[T.0.29]                   -0.0857
                                       (0.0502)
BookToMarket[T.0.2]                    -0.0179
                                       (0.0421)
BookToMarket[T.0.31]                   -0.0233
                                       (0.0472)
BookToMarket[T.0.32]                   -0.0022
                                       (0.0491)
BookToMarket[T.0.33]                   -0.0129
                                       (0.0418)
BookToMarket[T.0.37]                   0.0249
                                       (0.0501)
BookToMarket[T.0.38]                   0.0156
                                       (0.0472)
BookToMarket[T.0.41]                   -0.0264
                                       (0.0416)
BookToMarket[T.0.42]                   -0.0387
                                       (0.0412)
BookToMarket[T.0.44]                   -0.0231
                                       (0.0496)
BookToMarket[T.0.47]                   -0.0109
                                       (0.0475)
BookToMarket[T.0.49]                   -0.0463
                                       (0.0407)
BookToMarket[T.0.4]                    -0.0262
                                       (0.0415)
BookToMarket[T.0.51]                   0.0397
                                       (0.0478)
BookToMarket[T.0.53]                   -0.0068
                                       (0.0527)
BookToMarket[T.0.59]                   -0.0159
                                       (0.0505)
BookToMarket[T.0.5]                    -0.0318
                                       (0.0486)
BookToMarket[T.0.61]                   -0.0843*
                                       (0.0481)
BookToMarket[T.0.62]                   0.0108
                                       (0.0496)
BookToMarket[T.0.63]                   -0.0081
                                       (0.0532)
BookToMarket[T.0.69]                   -0.0813
                                       (0.0486)
BookToMarket[T.0.71]                   -0.0047
                                       (0.0408)
BookToMarket[T.0.73]                   -0.0422
                                       (0.0470)
BookToMarket[T.0.79]                   -0.0114
                                       (0.0495)
BookToMarket[T.0.7]                    -0.0061
                                       (0.0484)
BookToMarket[T.0.81]                   -0.0236
                                       (0.0512)
BookToMarket[T.0.95]                   -0.0369
                                       (0.0495)
BookToMarket[T.0]                      0.0147
                                       (0.0416)
BookToMarket[T.1.22]                   -0.0311
                                       (0.0480)
Intercept             0.0026           0.0519
                      (0.0330)         (0.2061)
R-squared             0.0000           0.6537
R-squared Adj.        -0.0143          -0.2942
lnMktCap                               -0.0087
                                       (0.0166)
lnPayRatio            0.0001           0.0137
                      (0.0059)         (0.0145)
========================================================
Standard errors in parentheses.
* p<.1, ** p<.05, ***p<.01
"""

In [38]:
df = pd.DataFrame(m3)
df

,Ticker,FilingDate,PayRatio,MktCap,BookToMarket,begdate,enddate,date,AbnormalReturn,lnPayRatio,lnMktCap
0,ABBV,2018-03-19 00:00:00,144,153975.0,0.03,2018-03-18 00:00:00,2018-03-24 00:00:00,2018-03-19 00:00:00,-0.091,4.969813,11.944546
1,ABT,2018-03-16 00:00:00,251,99507.0,0.31,2018-03-15 00:00:00,2018-03-21 00:00:00,2018-03-15 00:00:00,0.004,5.525453,11.507983
2,ACN,2018-12-07 00:00:00,1222,108042.0,0.1,2018-12-06 00:00:00,2018-12-12 00:00:00,2018-12-06 00:00:00,-0.015,7.108244,11.590275
3,AIG,2018-03-27 00:00:00,259,53565.0,1.22,2018-03-26 00:00:00,2018-04-01 00:00:00,2018-03-26 00:00:00,0.002,5.556828,10.888651
4,AMGN,2018-04-11 00:00:00,127,125591.0,0.2,2018-04-10 00:00:00,2018-04-16 00:00:00,2018-04-10 00:00:00,-0.013,4.844187,11.740786
...,...,...,...,...,...,...,...,...,...,...,...
67,V,2018-12-06 00:00:00,147,333175.0,0.09,2018-12-05 00:00:00,2018-12-11 00:00:00,2018-12-06 00:00:00,0.011,4.990433,12.716423
68,VZ,2018-03-19 00:00:00,142,215927.0,0.2,2018-03-18 00:00:00,2018-03-24 00:00:00,2018-03-19 00:00:00,0.006,4.955827,12.282696
69,WBA,2018-12-06 00:00:00,435,65278.0,0.4,2018-12-05 00:00:00,2018-12-11 00:00:00,2018-12-06 00:00:00,0.012,6.075346,11.086410
70,WMT,2018-04-20 00:00:00,1188,275799.0,0.26,2018-04-19 00:00:00,2018-04-25 00:00:00,2018-04-19 00:00:00,0.021,7.080026,12.527428
71,XOM,2018-04-12 00:00:00,108,354550.0,0.53,2018-04-11 00:00:00,2018-04-17 00:00:00,2018-04-11 00:00:00,-0.002,4.682131,12.778605

In [44]:
import os 
os.getcwd()

'C:\\Users\\qingh\\Documents\\Course\\First_year\\MP5783Python\\Data_collection'

In [46]:
df.to_csv('NewData', index=False)